<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <service
      android:name=".BleRingScanService"
      android:exported="false"
      android:foregroundServiceType="connectedDevice" />

    <service
      android:name=".TorchBlinkService"
      android:exported="false"
      android:foregroundServiceType="camera" />

    <activity
      android:name=".NativeRingAlertActivity"
      android:exported="false"
      android:excludeFromRecents="true"
      android:launchMode="singleInstance"
      android:showWhenLocked="true"
      android:turnScreenOn="true" />

    <receiver
      android:name=".BootReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>

    <receiver
      android:name=".SmsRingReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
